@tailwind base;
@tailwind components;
@tailwind utilities;


nav .active, nav a:hover{
  color: #007BFF;
  position: relative;
  transition: all .4s;
}
nav .active::before, nav a:hover::before{
  opacity: 1;
  content: '';
  border: 1.5px solid #007BFF;
  width: 20px;
  height: 1px;
  position: absolute;
  bottom: -5px;
}

.cta-gradient{
  background: linear-gradient(135deg, #007BFF, #0056b3);
  color: #FFFFFF; 
  padding: 10px 20px;
  border: none; 
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: all .5s;
  cursor: pointer;
}
.cta-gradient:hover {
  background: linear-gradient(135deg, #0056b3, #007BFF);
}

.hero-span{
  position: relative;
}

.hero-span:after{
  content: '';
  position: absolute;
  margin: 0px 4px;
  bottom:-5px;
  left: 0;
  border: #007BFF 1px solid;
  width: 100px;
}
.service-card{
  overflow:hidden;
  position: relative;
}
.service-card>div{
  z-index: 1;
}
.service-card::after{
  content: '';
  background-color: #4D94FF;
  position:absolute;
  top: -10px;
  left:-10px;
  height: 30pt;
  width: 30pt;
  border-radius: 50%;
  transition: all .4s;
  z-index: 0;
}

.service-card:hover::after{
  height:200%;
  width:200%;
  top:0;
  left:0;
  border-radius: 0;
}